body {
    margin: 0;
    padding: 0;
}

.header-styling {
    display: flex;
    justify-content: flex-start;
    background-color: black;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.body-styling {
    background-color: white;
}